.mainForm{
    margin: auto;
    width: 75%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 20px;
    background: rgba(202, 241, 242, 0.4);
    margin-bottom: 20px;
}

.navbar{
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.65);
}

.formContainer{
    margin: 20px;
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }